* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.header {
    width: 1440px;
    height: 116px;
    background-color: #ABA5A5;
    display: flex;
    padding: 35px 122px;
}

.nav ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-left: 332px;

}

.nav {
    display: flex;
    justify-content: start;
}

.li {
    border-radius: 20px;
    width: 153px;
    height: 36px;
    display: flex;
    background-color: #D9D9D9;
    justify-content: center;
    align-items: center;
}

.center{
    width: 794px;
    height: 123px;
    text-align: center;
    /* display: flex; */
    justify-content: center;
    padding-top: 160px;
    align-content: center;
    align-items: center;
    
}

.texth1{
   padding: 44px 0;
    font-size: 48px;
    color: #A24949;
    background-color: #D9D9D9;
    border-radius: 50px;
  text-align: center;
  
}

.center {
    width: 1440px;
    height: 1024px;
}

.korobka {
    width: 1440px;
    height: 1024px;
    display: flex;
    justify-content: space-between;
    padding-top: 378px;
    gap: 96px;
    padding-left: 65px;
}

.kartochki {
    width: 350px;
    height: 500px;
    border-radius: 20px;
    background-color: #D9D9D9;
    text-align: center;
    font-size: 26px;

}
.h2{
    width: 95px;
    height: 36px;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    padding-top: 31px;
}
.button{
    background-color: #4E4E4E73;
    border-radius: 20px;
    width: 183px;
    height: 36px;
    font-size: 20px;
   
}